{% extends 'base.html' %}

{% block title %}Candidates | {{ super() }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span3 election-sidebar">
      <h3>Candidates</h3>
      <ul class="nav nav-tabs nav-stacked span3" data-spy="affix" data-offset-top="520" data-offset-bottom="270">
        {% for position, candidates in candidates %}
        <li><a href="#{{ position }}">{{ POSITION_TITLES[position ] }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="span9">
      <div class="alert alert-info">
        To find out more about a candidate, click his or her picture; You'll be brought to
        their personal campaign page.
      </div>

      {% for position, candidates in candidates if not position in LISTING_CANDIDATES %}
      <section id="{{ position }}" class="position page-position">
        <div class="page-header">
          <h1>{{ POSITION_TITLES[position] }}</h1>
        </div>

        <div class="candidate-list row">
          {% for candidate in candidates %}
          <div class="span3 candidate">
            <a href="{{ SITEURL }}/{{ candidate.url }}">
              <img src="{{ SITEURL }}/static/images/candidates/{{ candidate.slug }}.jpg" class="img-polaroid">
              <h2><a href="{{ SITEURL }}/{{ candidate.url }}" class="btn-large btn">{{ candidate.title }}</a></h2>
            </a>
          </div>
        {% endfor %}
        </div>
      </section>
      {% endfor %}

      {% for position, candidates in candidates if position in LISTING_CANDIDATES %}
      <section id="{{ position }}" class="position list-position">
        <div class="page-header">
          <h1>{{ POSITION_TITLES[position] }}</h1>
        </div>

        <div class="candidate-list">
        {% for candidate in candidates %}
        {{ loop.cycle('<div class="row">', '', '') }}
          <div class="span3 candidate">
            <img src="{{ SITEURL }}/static/images/candidates/{{ candidate.slug }}.jpg" class="img-circle">
            <h2>{{ candidate.title }}</h2>
            {{ candidate.content }}
          </div>
        {{ loop.cycle('', '', '</div>') }}
        {% endfor %}
        </div>
      </section>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script>
(function($) {
$.fn.randomize = function(childElem) {
  return this.each(function() {
      var $this = $(this);
      var elems = $this.children(childElem);

      elems.sort(function() { return (Math.round(Math.random())-0.5); });

      $this.remove(childElem);

      for(var i=0; i < elems.length; i++)
        $this.append(elems[i]);

  });
}
})(jQuery);

$(".page-position .candidate-list").randomize('.candidate');
$(".list-position .candidate-list").randomize('.row');
</script>
{% endblock %}
