{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Heckling Schedules!</h1>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mon 26/11</th>
            <th>Tue 27/11</th>
            <th>Wed 28/11</th>
            <th>Thu 29/11</th>
            <th>Fri 30/11</th>
            <th>Mon 3/12</th>
            <th>Tue 4/12</th>
            <th>Wed 5/12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>International Committee</td>
            <td>Vice President</td>
            <td>Social Committee</td>
            <td>IT Committee</td>
            <td>Sports Committee</td>
            <td>Education Committee</td>
            <td>Treasurer</td>
            <td>All President candidates </td>
          </tr>
          <tr>
            <td>1 President</td>
            <td>Entertainment Committee</td>
            <td>Media Committee</td>
            <td>1 President</td>
            <td>1 President</td>
            <td>Business Commitee</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>1 President</td>
            <td></td>
            <td>Equality Representative</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!--
      <ul>
      <li>Monday: 26th International Committee + 1 President</li>
      <li>Tuesday 27th Vice President, Entertainment Committee</li>
      <li>Wednesday 28th Social Committee + Media Committee + 1 President</li>
      <li>Thursday 29th IT Committee + 1 President</li>
      <li>Friday 30th Sports Committee + 1 President</li>
      <li>Monday 3rd Education Committee + Business Committee</li>
      <li>Tuesday 4th Treasurer</li>
      <li>Wednesday 5th All President candidates</li>
      </ul>
    -->
    </div>
  </div>

  <hr class="featurette-divider">
</div>
<div class="container marketing">
  <div class="featurette">
    <img class="featurette-image pull-left" src="{{ SITEURL }}/theme/images/sasse.png">
    <h2 class="featurette-heading">Your choice. <span class="muted">Your vote.</span></h2>
    <p class="lead">
      As a SASSE member, you have the right to vote for your favorite candidate in the upcoming
      election. Keep track of the dates, the positions and the promises right here on
      SASSE's official election website.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="{{ SITEURL }}/theme/images/committees.png">
    <h2 class="featurette-heading">Your candidates. <span class="muted">Your voices.</span></h2>
    <p class="lead">
      Find out the positions of your candidates and the reasons they should get your vote. All candidate listings are randomized on display to prevent favoritism.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="{{ SITEURL }}/theme/images/dates.png">
    <h2 class="featurette-heading">Your questions. <span class="muted">Your issues.</span></h2>
    <p class="lead">
      Contact <a href="mailto:valberedningen@sasse.se">valberedningen@sasse.se</a> for inquiries surrounding the election. Remember to take part in the hecklings, talk to the candidates and don't forget to vote for your favorite candidate.
    </p>
  </div>
</div>
{% endblock %}
