{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span6">
      <div class="page-header">
        <h1>Schedule</h1>
      </div>

      <table class="table table-striped">
          <tr>
            <th>4/12</th>
            <td>Treasurer + Voting begins!</td>
          </tr>
          <tr>
            <th>5/12</th>
            <td>All President candidates</td>
          </tr>
          <tr>
            <th>6/12</th>
            <td>Voting closes at 17:00, Election Pub 20:00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <div class="page-header">
        <h1>It’s time to vote!</h1>
      </div>

      <p>
        If you've paid your SASSE fee, you should have received an e-mail to your
        SSE student e-mail address with a unique link to the voting site. Follow
        the link to vote for your candidates. Voting is open until 17:00, 6th of December.
      </p>

      <p>
        <strong>Important:</strong> Due to technical problems, the initial send-out was duplicated.
        Because of this, we've had to restart voting. <strong>Please only vote using the link
        in the last e-mail you've got.</strong>
        <a href="http://sasse.se/student/entertainment/news/important-message-about-voting">More information avaiable at sasse.se</a>
      </p>

      <p>The results will be presented during the Election Pub in the Rotunda at 8 p.m. Thursday the 6th of December.</p>
    </div>
  </div>

  <hr class="featurette-divider">
</div>
<div class="container marketing">
  <div class="featurette">
    <img class="featurette-image pull-left" src="{{ SITEURL }}/theme/images/sasse.png">
    <h2 class="featurette-heading">Your choice. <span class="muted">Your vote.</span></h2>
    <p class="lead">
      As a SASSE member, you have the right to vote for your favorite candidate in the upcoming
      election. Keep track of the dates, the positions and the promises right here on
      SASSE's official election website.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="{{ SITEURL }}/theme/images/committees.png">
    <h2 class="featurette-heading">Your candidates. <span class="muted">Your voices.</span></h2>
    <p class="lead">
      Find out the positions of your candidates and the reasons they should get your vote. All candidate listings are randomized on display to prevent favoritism.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="{{ SITEURL }}/theme/images/dates.png">
    <h2 class="featurette-heading">Your questions. <span class="muted">Your issues.</span></h2>
    <p class="lead">
      Contact <a href="mailto:valberedningen@sasse.se">valberedningen@sasse.se</a> for inquiries surrounding the election. Remember to take part in the hecklings, talk to the candidates and don't forget to vote for your favorite candidate.
    </p>
  </div>
</div>
{% endblock %}
